@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Titillium+Web:ital,wght@1,300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
}
html {
    height: 100%;
}
img {
    width: 40px;
    height: 40px;
    line-height: 100px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    top: 10px;
}

body {
    font-family: "Public Sans" , sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

.Logo {
    font-size: 25px;
    font-weight: bolder;
    color: aliceblue;
    margin-left: 10px;
    margin-bottom: -10px;
}

.grid-container > * {
    box-shadow: -1px 1px 7px 0px black;
    border-radius:  4px;
    padding: 10px;
    text-align: center;
}

.header {
    display: flex;
    grid-area: header;
    background-color: rgba(31, 31, 240, 0.89);
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.sidebar {
    grid-area: sidebar;
    background-color: rgba(4, 41, 63, 0.863);
}

.article {
    grid-area: article;
    background-color: white;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 200px auto;
    grid-template-rows: 100px auto;
    grid-template-areas:
    "header header"
    "sidebar article" ;

}
#btnMenu {
    color: white;
    cursor: pointer;
}
#btnSalir {
    color: aliceblue;
    cursor: pointer;
}
@media (max-width: 480px) {
    .grid-container {
       grid-template-columns: 200px auto;
       grid-template-rows: 100px auto ;
        grid-template-areas: 
        "header header"
        "sidebar article";
    }
}